* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    background: var(--head-bg);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --head-bg: linear-gradient(90deg, #fcf1f4 0%, #ff6c9394 100%);
    --text-clr: #261919;
    --btn-clr: #d23166;
    --btn-h-clr: #ac053d;
    --ft-clr: #0A0808;
}

.btm-clr {
    border-bottom: 4px solid var(--btn-h-clr);
}

/* Header Styles */
.header-section {
    width: 100%;
    min-height: 100vh;
    padding: 0px 100px;
}

.header-navigation {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items {
    display: flex;
}

.header-item a {
    padding: 5px;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-clr);
    transition: 0.5s;
}

.item-twoo {
    display: none;
}

.item-twoo2 {
    display: none;
}

.header-item a:hover {
    color: var(--btn-clr);
}

.header-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    background: var(--btn-clr);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
}

.header-btn a p {
    margin-right: 3px;
}

.header-btn a:hover {
    background: var(--btn-h-clr);
}

.header-content {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text h5 {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-clr);
}

.header-text h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--text-clr);
}

.header-text p,
.sugar-p,
.product-i-p {
    font-size: 15px;
    font-weight: 500;
    color: #261919c0;
    line-height: 30px;
    margin-top: 15px;
}

.header-content__btn,
.sugar-btn {
    margin: 30px 0px;
}

.header-content__btn a,
.sugar-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    background: var(--btn-clr);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
}

.header-content__btn a i {
    margin-left: 3px;
}

.header-content__btn a:hover,
.sugar-btn a:hover {
    background: var(--btn-h-clr);
}

.header-foto img {
    position: relative;
    width: 400px;
}

/* Benefit Styles */
.benefit-section {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.benefit-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
    background: var(--btn-clr);
    border-radius: 20px;
    margin: 20px 5px;
    padding: 20px;
    transition: 0.5s;
}

.benefit-item:hover {
    transform: translateY(-20px);
}

.benefit-item img {
    width: 50px;
    margin-bottom: 20px;
}

.benefit-bold {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}

.benefit-p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

/* Sugar Styles */
.sugar-section {
    width: 100%;
    min-height: 70vh;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sugar-foto img {
    width: 400px;
}

.sugar-htext {
    font-size: 40px;
    font-weight: 600;
    color: var(--text-clr);
    line-height: 45px;
}

/* Product Styles */
.product-section {
    width: 100%;
    min-height: 100%;
    padding: 0 100px;
    background-color: #fff;
}

.product-items {
    text-align: center;
}

.product-htext {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-clr);
    padding: 100px 0px 50px 0px;
}

.product-item {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-item ul {
    display: flex;
}

.product-item ul li {
    padding: 0px 15px;
}

.product-item ul li a {
    font-size: 20px;
    font-weight: normal;
    color: var(--text-clr);

    transition: 0.5s;
}

.product-item ul li a:hover {
    color: var(--btn-h-clr);
}

.product-icecream {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.product-i-img img {
    width: 500px;
}

.product-i-htext {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-clr);
}

.product-money {
    margin: 10px 0px 20px 0px;
}

.product-money .span-1 {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-clr);
}

.product-money .span-2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-clr);
    text-decoration: line-through;
    opacity: 0.5;
}

.product-buy button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    background: var(--btn-clr);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
    border: none;
    cursor: pointer;
}

.product-buy button:hover {
    background: var(--btn-h-clr);
}

.product-human {
    display: flex;
    align-items: center;
}

.product-human img {
    margin-right: 20px;
}

.product-human div p:nth-child(1) {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-clr);
}

.product-human div p:nth-child(2) {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-clr);
    opacity: 0.74;
}

.product-humans {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.product-humans i {
    color: #f6762c;
    padding: 0px 25px;
}

.product-humans img {
    margin: 0px 5px;
}

.product-humans img:nth-child(2),
.product-humans img:nth-child(4) {
    width: 40px;
}

/* Pricing Styles */
.pricing-section {
    padding: 70px 120px 0px 120px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 120vh;
}

.pricing-h-text {
    font-size: 35px;
    font-weight: 500;
    color: var(--text-clr);
    margin: 30px 0px;
}

.pricing-p-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-clr);
    margin: 0px 0px 20px 0px;
    opacity: 0.8;
}

.product-select {
    display: flex;
    flex-direction: column;
}

.product-select i {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-clr);
    margin: 10px 0px;
}

.product-select i:hover {
    color: var(--btn-h-clr);
}

.product-select i span {
    margin-left: 20px;
}

.product-store {
    position: relative;
    top: 20px;
    left: -17px;
}

/* Quest Section Styles */
.question-section {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.question-h {
    font-size: 45px;
    font-weight: 500;
    color: var(--text-clr);
    text-align: center;
    margin-bottom: 40px;
}

.question-send form {
    width: 700px;
    height: 70px;
    border: 1px solid var(--btn-h-clr);
    border-radius: 5px;
    padding: 5px 5px 5px 15px;
}

.question-send form label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-send form label input {
    width: 70%;
    height: 100%;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: transparent;
}

.question-send form label button {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    width: 20%;
    height: 100%;
    border: none;
    background-color: var(--btn-clr);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.question-send form label button:hover {
    background-color: var(--btn-h-clr);
}

/* Footer Section Styles */
.footer-section {
    width: 100%;
    min-height: 450px;
    padding: 100px 100px 100px 100px;
    background-color: var(--ft-clr);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-section div {
    margin: 0px 30px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-p {
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.603);
    margin-bottom: 10px;
}

.footer-ss {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}


.footer-1 i {
    position: relative;
    font-size: 20px;
    color: #fff;
    margin: 0px 5px 0px 0px;
    left: -30px;
    margin-top: 20px;
}

.footer-column a {
    font-size: 15px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.842);
    margin: 0px 0px 5px 0px;
}

.footer-2 {
    display: flex;
    flex-direction: column;
}

.footer-2 p {
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.footer-2 form {
    width: 300px;
    height: 50px;
    border: 1px solid var(--btn-h-clr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.footer-2 form label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-2 form label input {
    width: 70%;
    height: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-left: 5px;
    color: #fff;
}

.footer-2 form label button {
    width: 20%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--btn-clr);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}

.footer-2 form label button:hover {
    background-color: var(--btn-h-clr);
}

.footer-2 i {
    position: relative;
    font-size: 20px;
    color: #fff;
    margin: 0px 5px 0px 0px;
    left: -30px;
    margin-top: 20px;
}

.margint {
    margin-top: 80px;
}

.margint2 {
    margin-top: 83px;
}












/* Responsive */
@media only screen and (max-width: 1200px) {
    .product-i-img img {
        width: 400px;
    }

    .pricing-img img {
        width: 250px;
    }
}

@media only screen and (max-width: 1130px) {
    .header-foto img {
        right: -100px;
    }

    .header-text h5 {
        font-size: 15px;
        font-weight: 500;
    }
    
    .header-text h1 {
        font-size: 35px;
        font-weight: 600;
    }
    
    .header-text p,
    .sugar-p,
    .product-i-p {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
    }

    .benefit-item {
        margin: 20px 20px;
    }

    .product-item ul li a {
        font-size: 15px;
    }

    .product-i-htext {
        font-size: 20px;
        font-weight: 600;
    }

    .product-money .span-1 {
        font-size: 20px;
    }
    
    .product-money .span-2 {
        font-size: 15px;
    }

    .pricing-h-text {
        font-size: 30px;
        font-weight: 500;
    }
    
    .pricing-p-text {
        font-size: 17px;
    }
    
    .product-select i {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1050px) {
    .header-item a {
        padding: 0px;
        margin: 0 15px;
        font-size: 15px;
        font-weight: 500;
        color: var(--text-clr);
        transition: 0.5s;
    }

    .header-content {
        margin-top: 100px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .sugar-section {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        margin-bottom: 50px;
    }

    .header-content__btn a,
    .sugar-btn a {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .header-foto img {
        right: 0px;
    }

    .benefit-section {
        margin-top: 150px;
    }

    .product-i-img img {
        width: 350px;
    }

    .pricing-img img {
        position: relative;
        left: -30px;
        width: 230px;
    }
}

@media only screen and (max-width: 950px) {
    .header-section {
        padding: 0px;
    }
    .header-items {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        align-self: flex-end;
        width: 100%;
        height: 70px;
        justify-content: center;
        backdrop-filter: blur(50px);
        background: linear-gradient(90deg, #ff6c9394 100%, #fcf1f4 0%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        align-items: center;
        z-index: 99;
    }

    .header-item {
        padding: 10px;
    }

    .header-item a {
        margin: 0 10px;
        font-size: 17px;
        font-weight: 600;
        color: var(--text-clr);
        transition: 0.5s;
    }

    .header-brand {
        margin-left: 30px;
    }

    .header-btn {
        margin-right: 30px;
    }

    .benifit-mb {
        margin-bottom: 100px;
    }

    .benifit-mb1 {
        margin-bottom: 100px;
    }

    .product-htext {
        font-size: 30px;
    }

    .product-item ul li a {
        font-size: 13px;
        text-transform: unset;
    }

    .product-item ul li {
        padding: 0px 10px;
    }

    .product-icecream {
        flex-direction: column;
        text-align: center;
        margin: 50px 0px;
    }

    .product-buy button {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .flxdrc {
        flex-direction: column-reverse;
    }

    .mb-3 {
        margin-bottom: 150px;
    }

    .pricing-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .product-humans {
        margin-bottom: 50px;
    }

    .pricing-img img {
        position: relative;
        left: 0px;
    }
}

@media only screen and (max-width: 850px) {
    .header-item {
        padding: 6px;
    }

    .product-htext {
        padding: 100px 0px 30px 0px;
    }

    .product-item ul {
        flex-direction: column;
    }

    .product-item ul li {
        padding: 10px 0px;
    }
    
    .question-h {
        font-size: 40px;
    }

    .question-send form {
        width: 600px;
    }
}

@media only screen and (max-width: 680px) {
    .item-one {
        display: none;
    }

    .item-twoo {
        display: block;
    }

    .item-twoo i {
        font-size: 2rem;
        margin: 0px 15px;
    }

    .product-i-img img {
        width: 300px;
    }

    .pricing-img img {
        width: 200px;
    }

    .question-h {
        font-size: 35px;
    }

    .question-send form {
        width: 500px;
    }

    .question-send form label input {
        font-size: 20px;
    }
}

@media only screen and (max-width: 679px) {
    .benifit-mb1 {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 580px) {
    .item-twoo i {
        margin: 0px 10px;
    }

    .product-icecream {
        margin: 70px 0px;
    }

    .question-h {
        font-size: 30px;
    }

    .question-send form {
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .item-twoo i {
        margin: 0px 5px;
    }

    .header-btn a {
        width: 100px;
        height: 50px;
    }

    .header-btn a p {
        display: none;
    }

    .header-text h5 {
        font-size: 15px;
        font-weight: 500;
    }
    
    .header-text h1 {
        font-size: 30px;
        font-weight: 500;
    }
    
    .header-text p,
    .sugar-p {
        font-size: 10px;
        font-weight: 500;
        line-height: 20px;
    }

    .header-foto img {
        width: 300px;
    }

    .sugar-foto img {
        width: 250px;
    }

    .header-content__btn a {
        width: 100%;
    }

    .header-content {
        margin-top: 50px;
    }

    .sugar-htext {
        font-size: 30px;
        font-weight: 500;
    }

    .product-human div p:nth-child(1) {
        font-size: 20px;
    }

    .question-h {
        font-size: 25px;
    }

    .question-send form {
        width: 300px;
    }

    .question-send form label input {
        font-size: 15px;
    }
}

@media only screen and (max-width: 380px) {
    .header-item {
        padding: 0px;
    }

    .header-item a i {
        font-size: 1.5rem;
    }

    .item-twoo i {
        margin: 5px;
    }

    .header-foto img {
        width: 200px;
    }

    .sugar-foto img {
        width: 200px;
    }

    .question-h {
        font-size: 20px;
    }

    .question-send form {
        width: 250px;
    }
}